@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

[data-theme="dark"] {
    --primary: rgb(45,45,45);
    --background: rgb(30,30,30);
    --barbackground: rgb(0, 0, 0);
    --console: #000;
    --text: #fff;
    --prueba: orange;
}

[data-theme="light"] {
    --primary: rgb(255,255,255);
    --background: rgb(236,236,236);
    --barbackground: rgb(255, 255, 255);
    --console: #fff;
    --text: #000;
    --prueba: blue;
}
*{margin: 0;padding: 0;box-sizing: border-box;font-family:'Open Sans', sans-serif;}
body{
    height: 100px;
    background: var(--barbackground);   
}

li{
    list-style-type: none;
}
a,h2,p{
    text-decoration: none;
    color: var(--text);
}
a:hover{
    color: blue;
}
/* HEADER */
header{
    position: relative;
    padding: 0 2rem;
}
i.nav__icon{
    color: #454343;
    cursor: pointer;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    columns: #Fff;
    font-size: 1,5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: #Fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transform: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #Fff;
}
.action_btn:active{
    scale: 0.95;
}
/* DROPBAR */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* FLAGS */
.flags__item{
    width: 15px;
}
/* SECTION */
section#BodyTitle{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
/* RESPONSIVE */
@media(max-width: 992px){
    .navbar .links, .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;color: #454343;
    }
    .dropdown_menu{
        display: block;
    }
}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}