*{margin: 0;padding: 0;box-sizing: border-box;font-family:'Open Sans', sans-serif;}
body{
    height: 100px;
    background-color: rgb(209, 32, 32);
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color: blue;
}
/* HEADER */
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}